
* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: rgba(227, 167, 151, 0.7);
}


#workspaces,
#custom-mpd {
    padding: 6px 10px;
    margin: 0;
    border: 1px solid rgba(227, 167, 151, 0.7);
    background: transparent;
}

#workspaces {
    background: rgba(20, 20, 20, 0.95);
    border: 1px solid rgba(227, 167, 151, 0.7);
    border-right: none;
    border-radius: 10px 0 0 10px;
    margin-right: 0;
}

#custom-mpd {
    background: rgba(20, 20, 20, 0.95);
    border: 1px solid rgba(227, 167, 151, 0.7);
    border-left: none;
    border-radius: 0 10px 10px 0;
    margin-left: 0;
    color: rgba(227, 167, 151, 0.9);
}

#window {
    background: rgba(20, 20, 20, 0.95);
    border: 1px solid rgba(227, 167, 151, 0.7);
    border-radius: 10px;
    padding: 6px 10px;
    margin-left: 0px;
    margin-right: 0px;
    font-weight: bold;
    font-family: "Ubuntu";
}

#window > label.empty {
    padding: 0;
    margin: 0;
    border: 1px solid rgba(79, 79, 79, 0.7);
    background: transparent;
    min-width: 0;
    color: transparent;
}

#window > label.empty {
    background: transparent;
}

#pulseaudio,
#network,
#cpu,
#memory,
#tray,
#clock {
    padding: 6px 10px;
    margin: 0;
    border: 1px solid rgba(227, 167, 151, 0.7);
    background: transparent;
}

#pulseaudio {
    background: rgba(20, 20, 20, 0.95);
    border: 1px solid rgba(227, 167, 151, 0.7);
    border-right: none;
    border-radius: 10px 0 0 10px;
    margin-left: 6px;
}

#clock {
    background: rgba(20, 20, 20, 0.95);
    border: 1px solid rgba(227, 167, 151, 0.7);
    border-radius: 0 10px 10px 0;
}

#network,
#cpu,
#memory,
#tray {
    background: rgba(20, 20, 20, 0.95);
    border-top: 1px solid rgba(227, 167, 151, 0.7);
    border-bottom: 1px solid rgba(227, 167, 151, 0.7);
    border-left: none;
    border-right: none;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: rgba(200, 200, 200, 0.9);
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: rgba(255, 85, 85, 0.9);
    border-top: 2px solid rgba(255, 85, 85, 0.9);
}

#clock {
    font-weight: bold;
}

#network.disconnected {
    background: rgba(255, 60, 60, 0.8);
}

#custom-spotify {
    color: rgba(227, 167, 151, 0.9);
}

#custom-separator {
    min-width: 10px;
    color: rgba(150, 150, 150, 0.7);
}

#custom-firefox:hover,
#custom-kitty:hover {
    color: rgba(200, 200, 200, 0.9);
    background-color: rgba(255, 85, 85, 0.2);
    border-radius: 4px;
}
